body {
  color: $mainColor;
  font-family: $montserrat;
  font-size: scale(41);
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  max-width: scale(2476);
  padding: scale(60);
}

.resume {
  border: 4px solid #252525;
  padding: 30px scale(80) scale(100);

}

hr {
  background-color: $black;
  margin-bottom: scale(75);
}