@import "vars";
@import "mixins";
@import "fonts";
@import "normalize";
@import "reset";
@import "common";
@import "./blocks/resume-title";
@import "./blocks/resume-contacts";
@import "./blocks/experience";
@import "./blocks/skills";
@import "./blocks/education";


